name: Deploy to nais
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  deploy:
    name: Deploy configmap
    runs-on: ubuntu-latest
    permissions:
     contents: read
     id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install validator
        run: npm ci --ignore-scripts
      - name: Validate Task Analytics config
        run: npm run validate-${{ inputs.env }}
      - name: Read json files
        run: |
          echo TA_CONFIG=$(cat ./configs/${{ inputs.env }}/ta-config.json | tr '\n' ' ') >> $GITHUB_ENV
      - name: Inject json into nais-config
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "{{TA_CONFIG}}"
          replace: ${{env.TA_CONFIG}}
          include: ".nais/config.yml"
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.env }}-gcp
          RESOURCE: .nais/config.yml