name: Deploy to dev
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - configs/dev/**/*.json

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Build and deploy dev
        uses: ./.github/actions/build-and-deploy
        with:
          env: dev
